# Dependency directories
node_modules/
.next/
.vercel/
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build output
.next/
out/

tsconfig.tsbuildinfo
.DS_Store
nul
secure-approach-290721-201f5d0c9b70.json
